@import url(./section2.css);
@import url(./section3.css);
@import url(./section4.css);
@import url(./footer.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#section1{
    border: 1px solid black;
    height: auto;
    width: 100%;
}
#video{
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}
#section1 #content{
    background-image: url(../media/backgroundimage.png);
    position: absolute;
    right: 0;
    bottom: 0;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}
#content #nav{
    /* border: 1px solid red; */
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
}
#content #nav #sub-nav{
    /* border: 1px solid blue; */
    height: 60px;
    width: 91%;
    display: flex;
    justify-content: space-between;
}
#sub-nav img{
    height: 4rem;
    margin-left: 3px;
    margin-top: 10px;
}
#sub-nav img:hover{
    cursor: pointer;
}
#sub-nav #nav-content{
    /* border: 1px solid black; */
    width: 71%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}
#sub-nav #nav-content div{
    /* border: 1px solid red; */
    height: 85px;
    width: 110px;
    background-color: #00dcf7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
#sub-nav #nav-content div span+span{
    font-size: 17px;
    font-weight: 400;
}
#section1 #middlecontent{
    /* border: 1px solid red; */
    height: 310px;
    width: 70%;
    margin-top: 240px;
    margin-left: 115px;
    line-height: 80px;
}
#section1 #middlecontent h1{
    font-size: 69px;
}
#section1 #middlecontent h1 span{
    color: #00dcf7;
}
#section1 #middlecontent p{
    font-size: 15px;
    position: relative;
    bottom: 30px;
    font-weight: 400;
}
#section1 #middlecontent button{
    width: 200px;
    height: 55px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00dcf7;
    border: none;
    margin-top: 10px;
}
#section1 #content #middlecontent button:hover{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
#nav-content>span:hover{
    cursor: pointer;
    color: #00dcf7;
}
#nav-content span i .bx-caret-down{
    color: #ffffff;
}
#nav-content span i .bx-caret-down:hover{
    color: #00dcf7;
}
#nav-content div span:hover{
    cursor: pointer;
}
