#section3{
    /* border: 1px solid black; */
    background-color: #d7e0ea;
    height: 828px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section3 #content1{
   /* border: 1px solid red; */
   height: 700px;
   width: 80%;
}
#section3 #content1 #nav1{
    /* border: 1px solid blue; */
    height: 40px;
    width: 83%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
#section3 #content1 #nav1 span:first-child{
    color: #071228;
    background-color: transparent;
    font-weight: 600;
    display: flex;
}
#section3 #content1 #nav1 span+span{
    color: #7e8daa;
    font-weight: 600;
}
#section3 #content1 p{
    /* border: 1px solid red; */
    font-size: 15px;
    width: 37%;
    line-height: 26px;
    margin-top: 50px;
}
#section3 #content1 button{
    height: 45px;
    width: 140px;
    font-size: 15px;
    background-color: #00dcf7;
    border: none;
    margin-top: 40px;
    font-weight: 300;
}
#section3 #content1 img{
    position: absolute;
    right: 120px;
    top: 1620px;
}
#section3 #content1 button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.7s;
}
#section3 #content1 #nav1 span:hover{
    cursor: pointer;
    color: #071228;
    transition: 0.6s;
}
