*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
body
{
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    
}
#nav{
    height: 70px;
    /* border: 2px solid black; */
    background-color: #000;
    color: #fff;

}
#sub-nav{
    /* border: 2px solid red; */
    height: inherit;
    width: 70%;
    margin: auto;
}
#sub-nav span svg{
    height: 2em;
margin-top: 15px; 
fill: #fff;
}
#sub-nav div
{
    /* border: 2px solid blue; */
    width: 500px;
    position: absolute;
    left: 50%;
    top: 25px;
    /* word-spacing: 20px; */
    
}
#sub-nav div span + span{
    padding-left: 30px;
}
#sub-nav div span:hover{
    cursor: pointer;
    color: #1ed760;
}
#sub-nav div span:nth-child(4){
    cursor: none;
    color: #fff;
}
#section{
    /* border: 2px solid; */
    height: 480px;
    background-color: rgb(180, 155, 200);
}
#section h1{
    text-align: center;
    padding-top: 100px;
    font-size: 38px;
    font-weight: 600;
}
#section h2{
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
    font-weight: 400;
}
#section button{
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    padding: 20px 40px;
    margin-left: 43%;
    margin-top: 30px;
    font-weight: 700;
    font-size: inherit;
    border-radius: 50px;
}
#section button:hover{
    transform: scale(1.1);
}
#section p{
    text-align: center;
    font-size: 0.6875rem;
    font-weight: 400;
    margin-top: 50px;
}



#section1 {
    /* border: 2px solid; */
    height: 580px;
}
#section-sec1{
    width: 75%;
    /* border: 2px solid red; */
    margin: auto;
    height: inherit;

}
#sec-sec-sec1{
    width: 98%;
    margin: auto;
    /* border: 2px solid blue; */
    height: 500px;
    margin-top: 40px;
}
#sec-sec-sec1 h1{
    text-align: center;
    font-size: 40px;
}
#img-sec{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
}
section img{
    height:149px ;
    width: 149px;
    border-radius: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
}
section h3{
    margin-bottom: 20px;
    text-align: center;
}
section p{
    line-height: 25px;
    text-align: center;
}

#section2 {
    border: 2px solid;
    height: 630px;
}
#sec-div{
    border: 2px solid red;
    margin:5% 12%;
    height: 500px;
}